<th:block th:fragment="category">
    <div class="category">
        <ul class="category__list">
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">Всі товари</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">Одяг</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">Техніка</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">Товари для дому</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">dfgd</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">dfgd</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">dfgd</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">dfgd</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/imgs/fragments/category.svg" alt="">
                    <h2 class="category__title">dfgd</h2>
                </a>
            </li>
        </ul>
    </div>
</th:block>